*.egg-info
**/_DATA/*
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
**/__pycach_e_/*
*.pyc
*.pth
outputs/*
phantom/outputs/*
Cad_files/*
replay_buffer.zarr/*
pick_and_place/*
smoke_test_ur7e_out/*
epic/*
